<div class="bg-white dark:bg-black text-black dark:text-white">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/1.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterios</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Sigueinte</span>
    </button>
  </div>

  <div class="flex justify-center min-h-screen container mx-auto">
    <div class="animationn grid grin-cols-1 md:grin-cols-2 lg:grid-cols-3 bg-white dark:bg-blackcard text-black dark:text-white
      rounded-lg mt-14">
      <div class="rounded-xl shadow-lg m-2">
        <div class="p-5 flex flex-col  border-solid border-2 border-sky-500 rounded-xl">
          <div class="rounded-xl overflow-hidden">
            <img src="../../../assets/img/2.jpg" alt="">
          </div>
          <h5 class="text-2xl md:text-3xl font-poppins font-medium mt-3">Chocolate 1</h5>
          <p class="text-lg mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. In soluta iusto voluptatem
            reprehenderit praesentium recusandae tempora earum suscipit! Totam aspernatur sequi facere labore cumque
            omnis
            soluta sed possimus error quasi?</p>
        </div>
      </div>
      <div class="rounded-xl shadow-lg m-2">
        <div class="p-5 flex flex-col  border-solid border-2 border-sky-500 rounded-xl">
          <div class="rounded-xl overflow-hidden">
            <img src="../../../assets/img/3.jpg" alt="">
          </div>
          <h5 class="text-2xl md:text-3xl font-poppins font-medium mt-3">Chocolate 2</h5>
          <p class="text-lg mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. In soluta iusto voluptatem
            reprehenderit praesentium recusandae tempora earum suscipit! Totam aspernatur sequi facere labore cumque
            omnis
            soluta sed possimus error quasi?</p>
        </div>
      </div>
      <div class="rounded-xl shadow-lg m-2">
        <div class="p-5 flex flex-col  border-solid border-2 border-sky-500 rounded-xl">
          <div class="rounded-xl overflow-hidden">
            <img src="../../../assets/img/4.JPG" alt="">
          </div>
          <h5 class="text-2xl md:text-3xl font-poppins font-medium mt-3">Chocolate 3</h5>
          <p class="text-lg mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. In soluta iusto voluptatem
            reprehenderit praesentium recusandae tempora earum suscipit! Totam aspernatur sequi facere labore cumque
            omnis
            soluta sed possimus error quasi?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-14">
    <h1>Hola</h1>
  </div>
</div>
